@using Core.Models
@model Team
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col-md-4">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Position">Position</label>
                <input asp-for="Position" />
                <span asp-validation-for="Position"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PhotoFile">PhotoFile</label>
                <input asp-for="PhotoFile" />
                <span asp-validation-for="PhotoFile"></span>
            </div>
            <button type="submit" class="btn btn-primary ml-5">submit</button>









        </div>
    </form>
</div>
